{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos News</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    
    <header class="header">
        <!--  RELOJ   -->
        <div class="reloj">
            <div class="hora">00</div>
            <div class="min">00</div>
            <div class="seg">00</div>
        </div>
        <input type="checkbox" class="header__checkbox" id="open-menu">
        <label for="open-menu" class="header__open-nav-button" role="button">=</label>
        <div class="header__logo-container">
            <img class="header__logo" src="static/img/logo.png">
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="#profile">Inicio</a></li>
                <li class="header__nav-item"><a href="#portfolio">Noticias</a></li>
                <li class="header__nav-item"><a href="#contact">Contactanos</a></li>
                <li class="header__nav-item"><a href="{% url 'publicar' %}">Publicar</a></li>
                <li class="header__nav-item"><a href="{% url 'compra' %}">Suscribirse</a></li>
                <li class="header__nav-item"><a href="{% url 'formulario' %}">Registrarse</a></li>
                
                <!--  BOOSTRAP NAVBAR BUSCAR      -->
                <nav class="buscar">
                    <div class="container-fluid">
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                        <button class="btn-buscar" type="submit">Buscar</button>
                      </form>
                    </div>
                  </nav>
            </ul>
        </nav>
    </header>


    <main class="profile" id="profile">
        <div class="profile__wrapper">
            <div class="profile__data-container">
                <div class="profile-data">
                    <div class="profile__description">
                        <h1 class="text">Bienvenidos a Caos News</h1>
                        <div class="button-container">
                            <button class="btn-2">Ocultar</button>
                        </div>
                        <div class="button-container">
                            <button class="t12">12px</button>
                            <button class="t14">14px</button>
                            <button class="t16">16px</button>
                        </div>
                        <p class="parrafo">
                            Explora el emocionante mundo del entretenimiento con las últimas noticias sobre deporte, música, cine y videojuegos. Desde los resultados deportivos más recientes hasta los lanzamientos de álbumes más esperados, pasando por las críticas de las películas más populares y los adelantos de los videojuegos más emocionantes, te mantenemos al tanto de todo lo que necesitas saber para estar a la vanguardia del entretenimiento. ¡Y si eres un reportero apasionado, no dudes en enviarnos tus noticias para que también formes parte de nuestra cobertura! Además, ¿quieres obtener aún más beneficios? ¡Suscríbete a nuestro paquete premium para acceder a contenido exclusivo, promociones especiales y mucho más!
                        </p>
                    
                    </div>
                    <!--BOOTSRAP CARRUSEL-->
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="static/img/gta.png" class="d-block w-100" alt="foto de gta en carrusel">
                            <div class="noticias">
                                <h6 class="titulo-carrusel">GTA 6 sube de precio antes del lanzamiento.</h6>
                                <p>GTA+, el servicio de suscripción de Rockstar con el que puedes conseguir diversas mejoras en GTA Online, ha subido de precio, una nueva forma de Rockstar de sacar más dinero en el arreón final del desarrollo de GTA 6. </p>
                            </div>
                            
                          </div>
                          <div class="carousel-item">
                            <img src="static/img/actor.png" class="d-block w-100" alt="foto de actor en carrusel">
                            <div class="noticias">
                                <h6 class="titulo-carrusel">Actor de Game of Thrones y Harry Potter será Galactus en los Cuatro Fantásticos</h6>
                                <p>Ralph Ineson, actor conocido por interpretar a Dagmer Cleftjaw en Game of Thrones y Amicus Carrow en la saga de Harry Potter, será Galactus en la película de los Cuatro Fantásticos que será protagonizada por Pedro Pascal como Reed Richards.
                                Así fue reportado por The Hollywood Reporter, confirmando así a quien parece que será el antagonista de la cinta que estrenará a la “Familia Real” del universo Marvel.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="img/anillo.png" class="d-block w-100" alt="foto carrusel señor de los anillos">
                            <div class="noticias">
                                <h6 class="titulo-carrusel">Comenzó la producción de una nueva película de 'El Señor de los Anillos'</h6>
                                <p>Warner Bros. acaba de confirmar que estarán a cargo de estrenar la primera de una nueva tanda de películas de El Señor de los Anillos. Esta aún no tiene fecha de estreno oficial, sin embargo lo que sabemos es que se centrará en la historia de Gollum.
                                Asimismo, será Peter Jackson —que realizó las tres películas anteriores de la saga— quién ahora está a cargo de escribir el guion de esta nueva entrega. Surgen muchas expectativas de esta cinta considerando que el último filme de la trilogía ganó un Oscar a Mejor Película. La primera del género de ciencia ficción en lograrlo.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="img/alexis.png" class="d-block w-100" alt="...">
                            <div class="noticias">
                                <h6 class="titulo-carrusel">Exjugador de la selección chilena entrega detalles de fuerte encontrón que tuvo con Alexis Sánchez</h6>
                                <p>En el programa de Canal 13, «Generación Dorada», el exjugador de la selección chilena Gonzalo Jara entregó detalles de un fuerte encontrón que tuvo con Alexis Sánchez. Además, reveló que no eran todos amigos en el plantel.«Hay peleas, no a combos, más bien discusiones fuertes entre nosotros. Y hay mucha gente que nos dice: ‘Usted es amigo de Alexis, Isla o cualquiera’, y yo le digo: ‘No somos amigos’. Y me responden: ‘pero, ¿cómo no son amigos?'», indicó el exdefensor de La Roja.Asimismo, Gonzalo Jara agregó: «Y la verdad es que no todos lo somos. Si bien es cierto que convivimos muchos años y nos conocemos todos muy bien, hay jugadores con los que uno comparte más, es como en cualquier trabajo. No es que los 23 jugadores éramos amigos, para nada».</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="img/finmundo.png" class="d-block w-100" alt="...">
                            <div class="noticias">
                                <h6 class="titulo-carrusel">Esta sería la fecha exacta en la que explotaría el Sol, según científicos</h6>
                                <p>El fin del mundo es un tema que se ha hablado y estudiado en múltiples ocasiones y desde el principio de los tiempos. Un nuevo estudio ha apuntado a cuando sería, con exactitud, la fecha en la que el Sol podría llegar a su curso de vida y explotar. De acuerdo con investigadores de la Universidad de Warwick y la NASA (Administración de Aeronáutica y el Espacio de EE. UU., por sus siglas en inglés), el Sol terminará su ciclo de vida como lo conocemos lo que llevará a una serie de hechos que, según auguran los expertos, podría repercutir en otros planetas más cercanos.<span>¿Cuándo será la fecha en que el Sol explote y se acabe la vida en el planeta Tierra, según los científicos?</span>La explicación científica detalla que, en algún punto de la historia, el Sol dejará de emanar calor a través de la fusión nuclear y se expandirá en un gigante rojo. Este proceso traerá como consecuencia que Mercurio y Venus sean devorados por la estrella.
                                </p>
                            </div>
                          </div>
                        </div>
                        
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                        
                      </div>
                </div>
            </div>
        </div>
    </main>


    <section class="portfolio" id="portfolio">
        <h2 class="portfolio__title">SECCION DE NOTICIAS</h2>
        <h3>Ver tabla de posiciones de la Premier League 2024 en vivo</h3>
        <a href="apifutbol.html">click aquí</a>
        <div class="portfolio__project-container">
            <div class="portfolio__project"> 
                <a class="portfolio__project-name" href="deporte.html">DEPORTE</a>
            </div>
            <div class="portfolio__project">
                <a class="portfolio__project-name" href="cine.html">CINE</a>
            </div>
            <div class="portfolio__project">
                <a class="portfolio__project-name" href="musica.html">MUSICA</a>
            </div>
            <div class="portfolio__project">
                <a class="portfolio__project-name" href="videojuegos.html">VIDEO JUEGOS</a>
            </div>
            <div class="portfolio__project">
                <a class="portfolio__project-name" href="espectaculo.html">ESPECTACULO</a>
            </div>
            
        </div>
    </section>
    <section class="form" id="contact">
        <h2 class="form__title">CONTACTO</h2>
        <form class="form__form">
            <div class="form__input-container">
                <label>Nombre
                    <input type="text" placeholder="Nombre">
                </label>
            </div>
            <div class="form__input-container">
                <label>Apellido
                    <input type="text" placeholder="Apellido">
                </label>
            </div>
            <div class="form__input-container">
                <label>Mail
                    <input type="email" placeholder="ejample@gmail.com">
                </label>
            </div>
            <div class="form__input-container">
                <label>MENSAJE
                    <textarea placeholder="Escriba mensaje..."></textarea>
                </label>
            </div>
            <div class="form__input-container">
                <input type="submit">
            </div>
        </form>
    </section>
    <footer>
        <strong>Caos News</strong> - Copyright 2024
    </footer>

    {% block content %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'scripts/codigo.js'%}"></script>
</body>
</html>