<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos News</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header class="header">
        
        <input type="checkbox" class="header__checkbox" id="open-menu">
        <label for="open-menu" class="header__open-nav-button" role="button">=</label>
        <div class="header__logo-container">
            <img class="header__logo" src="img/logo.png">
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-item"><a href="index.html">Inicio</a></li>
              <li class="header__nav-item"><a href="#portfolio">Noticias</a></li>
              <li class="header__nav-item"><a href="publicar.html">Publicar</a></li>
              <li class="header__nav-item"><a href="compra.html">Suscribirse</a></li>
              <li class="header__nav-item"><a href="formulario.html">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    <main >
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="img/radiohead.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">C"Se está haciendo mucha música, pero no como Radiohead": Jonny Greenwood actualiza a los fanáticos sobre el futuro de la banda</h5>
                  <p class="card-text">La banda de rock alternativo Radiohead hace mucho tiempo que no se une como grupo a realizar un nuevo proyecto. De hecho, su último álbum A Moon Shaped Pool fue lanzado el 2016, hace 8 años. Por eso es que muchos fanáticos están en duda sobre cuándo volverán a unirse para poder escuchar nueva música de ellos. El guitarrista de la banda, Jonny Greenwood, se refirió a estas dudas y confirmó cual será el futuro de la banda. En este afirmó que aún "se está haciendo mucha música, pero no como Radiohead", haciendo referencia a que actualmente casi todos los integrantes de la banda están ocupados en sus propios proyectos musicales. Sin embargo, afirmó que siguen igual de unidos como siempre, solo que el tiempo no les ha permitido generar nuevo material en conjunto.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="img/queen.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">¿Queen en 4K?: El icónico concierto de la banda en Montreal estará disponible en streaming</h5>
                  <p class="card-text">¿QUÉ? Así como leíste: Se confirmó que la película que muestra un show de Queen en 1981, estrenada hace unos meses, podrá ser vista desde la comodidad de tu hogar. El filme proporciona el icónico concierto que la banda dio en el Forum Montreal, en Canadá.Este histórico registro fue remasterizado digitalmente, lo que mejoró su calidad. La nueva versión destaca por tener un sonido e imagen incomparables, mucho mejores a las de la época en la que fue grabado. A través de un tráiler en sus redes sociales, Disney+ hizo oficial la noticia. En Chile pudimos ser testigos de la película en enero de este año, con una serie de funciones en cines, pero esta vez podremos verla desde cualquier lugar.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="img/sambora.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Richie Sambora cree que debió irse antes de Bon Jovi: «Él aspiraba a ser un artista en solitario»</h5>
                  <p class="card-text">En 2013, el icónico guitarrista de Bon Jovi, Richie Sambora, se retiró sorpresivamente de la banda. El artista señaló que su distanciamiento se debió a querer pasar más tiempo en familia.Desde entonces, Sambora fue reemplazado por Phil X, hasta que Jon Bon Jovi tuvo que someterse a una cirugía en 2022 por complicaciones en sus cuerdas vocales. Desde entonces, el cantante continúa en recuperación, sin una fecha determinada para su regreso. hora, en una reciente entrevista en «The Allison Hagendorf Show», Richie Sambora comentó su separación de la icónica banda, reflexionando sobre su paso por Bon Jovi y señalando estar arrepentido de no haberse ido antes.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="img/sid.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Sid Vicious, la tragedia del punk: vida y muerte de un icono</h5>
                  <p class="card-text">Sid Vicious. Es probable que no haya un nombre más reconocible en la historia del punk. Conocido por muchos como el máximo ícono del punk rock con su cabello negro azabache puntiagudo, su cadena de candado característica, su físico delgado como un riel y su personalidad nihilista tocando un bajo en el escenario, Vicious era un tipo genial. ¿O todo fue solo un acto? Como muchos íconos de la música popular que murieron demasiado jóvenes, el bajista de los Sex Pistols era un alma torturada que cargaba con suficientes demonios como para llenar un autobús de gira. Desde una tempestuosa historia de amor público con la reina de las groupies punk Nancy Spungen, hasta múltiples arrestos, incluso por su asesinato, Vicious vivió rápido y duro, y desafortunadamente solo lo hizo durante 21 años.</p>
                </div>
              </div>
            </div>
          </div>
              
    </main>
    
   
    <footer>
        <strong>Caos News</strong> - Copyright 2024
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="codigo.js"></script>
</body>
</html>